body{
    margin: 0px;
}
.head-cont{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: antiquewhite;
}
.logo{
    width: 100px;
    height: 70px;
    padding-left: 30px;
}
.links-cont{
padding-right: 30px;
}
.links-cont > ul{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 5px;
    gap: 30px;
   
}
.links-cont > ul>li{
   list-style-type: none; 
}
.card-cont>img{
    width: 96%;
    height: 100px;
    margin: 3px;
}
.card-cont{
border: 1px solid black;
width: 170px;
height: 365px;
padding: 4px;
margin: 14px;
cursor: pointer;
background-color: rgb(235, 231, 231);

}
.card-cont:hover {
    transform: scale(.99); 
}
.res-cont{
    display: flex;
    flex-wrap: wrap;
}
.res-btn{
    margin: 14px;
    padding: 4px;
    cursor: pointer;
}
.shimmer-card{
    width: 170px;
    height: 320px;
    background-color: #f0f0f0;
    border: 1px solid black;
    margin: 14px;
}
.shimmer-cont{
    display: flex;
    flex-wrap: wrap;
}
.log-btn{
    padding: 0 10px;
    cursor: pointer;
}
.search-text{
    padding: 4px;
    margin-left: 14px;
}
.res-search{
    padding: 4px;
    margin-left: 2px;
}
.route-links{
    text-decoration: none;
    color: inherit; 
}
.route-links:hover {
    color: rgb(74, 74, 166); 
}
.no-link-style {
    text-decoration: none; 
    color: inherit; 
  }
  .menu-cont{
    width: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .submenu-cont{
    padding: 30px;
  }
  .user-compo{
    border: 1px solid black;
  }
